<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DMS</title>
  <link rel="stylesheet" href="/static/index.css">
  <script defer src="/logic/index.js"></script>
</head>

<body>
  <main id="main-holder">
    <h1 id="login-header">Document Management System</h1>
    <div>
      Microblog:
      <a href="/">Home</a>
      <a href="/login">Login</a>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </main>
</body>

</html>