<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ user.username}} - Page</title>
  <link rel="stylesheet" href="/static/user.css">
  <script defer src="/logic/user.js"></script>
</head>

<body>
  <main id="main-holder">
    <h1 id="login-header">{{ user.username}}</h1>
    <a href="https://mohanv2030.github.io/dms/login/" id="login-page-link"><u>Back to Home page</u></a>
  </main>
  
</body>

</html>