    <table class="table table-hover">
        <tr>
            <td>
                {% set user_link %}
                    <span class="user_popup">
                        <a href="{{ url_for('main.user', username=post.author.username) }}">
                            {{ post.author.username }}
                        </a>
                    </span>
                {% endset %}
                {{ _('%(username)s messaged %(when)s', username=user_link, when=moment(post.timestamp).fromNow()) }}
                <br>
                <span >{{ post.body }}</span>
            </td>
        </tr>
    </table>
