{% extends "base.html" %}

{% block content %}
    <h1 id="login-header">Register</h1>
    <form action="" method="post" id="login-form">
        {{ form.hidden_tag() }}
        <p class="login-form-field" placeholder="Username">
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="login-form-field" placeholder="email@gmail.com">
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="login-form-field">
            {{ form.role.label }}<br>
            <select style="padding:0px 13vw 0px 0px;">
                {% for role in roles %}
                <option value="{{role}}" SELECTED>{{role}}</option>"
                {% endfor %}<br>
            </select>
            {% for error in form.role.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            
        </p>
        <p class="login-form-field" placeholder="Password">
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="login-form-field" placeholder="Password">
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p id="login-form-submit">{{ form.submit() }}</p>
    </form>
{% endblock %}
